/* src/pages/Layout.css */

.app-layout {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}

.main-content {
    max-width: 25000px;
    margin: 0 auto;
    padding: var(--padding);
}
