ul {
    list-style: none; /* Remove dots from <li> */
    padding-left: 4rem;
    margin-left: 8rem;
}

li {
    margin: 0.55rem 0; /* Espacio entre elementos */
}

label {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem; /* Space between checkbox and text */
}